<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>&copy; <%= Time.current.year %> Copyright <%= link_to 'Salubious Technologies Pvt Ltd', "http://salubrioustech.com", target: "_blank" %> All rights reserved</small>
  </div>
</footer>